@import '@/variables.module';

.messageContainer {
  display: flex;
  width: 100%;
  max-width: $chat-body-width;
  position: relative;

  &.self {
    justify-content: flex-end;

    .message {
      background-color: $light-10;
      align-items: flex-end;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 16px;
    background-color: $light-5;
    border: 1px solid $light-5;
    gap: 16px;
  }
}

.avatar {
  position: absolute;
  top: 0;
  left: -40px;
}

.messageBody {
  font-size: 16px;
  color: $light-80;
  font-weight: 200;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 8px;

  strong {
    color: $light-80;
  }

  ol {
    list-style: disc;
    padding: 0;
    //margin: 1em 0;
    margin-inline-start: 1.5em;
  }
  ul {
    list-style: disc;
    padding: 0;
    //margin: 1em 0;
    margin-inline-start: 1.5em;
  }
  li {
    padding: 0;
    margin: 0.5em 0;
  }

  h1, h2, h3, h4 {
    margin-top: 12px;
    color: $light-80;
    font-weight: 300;
  }

  code {
    font-size: 13px;
    background-color: $dark-60;
    border: 1px solid $light-10;
    padding: 4px;
    border-radius: 6px;
    color: $light-80;
    height: fit-content;
  }

  pre {
    font-size: 13px;
    background-color: $dark-40;
    border: 1px solid $light-10;
    padding: 8px;
    border-radius: 8px;
    white-space: pre-wrap;

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }
}

.thinking {
  color: $light-40;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 0;
}
