@import "@/variables.module";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inputContainer {
  background-color: $background-hover;
  cursor: text;
  border-radius: 20px;
  width: 100%;
  animation: fadeIn 400ms forwards;
  overflow: visible;
  
  &.active {
    margin-bottom: 20px;
    max-width: $chat-body-width;
  }
}

.inputWrapper {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 56px;
  
  textarea {
    flex: 1;
    background-color: transparent;
    font-weight: 400;
    font-size: 15px;
    resize: none;
    outline: none;
    

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $light-40;
      user-select: none;
    }
  }
  
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: between;
  gap: 8px;
  width: 100%;
  padding: 0 16px 0 24px;
}

.attachmentsRow {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 0px 16px;
}

.empty {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -72px;
  pointer-events: none;
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms ease, scale 200ms ease;

  &.hide {
    opacity: 0;
    transform: scale(0);
  }
}
