@import '@/variables.module';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: rgba(16, 16, 16, 0.5);
  backdrop-filter: blur(16px);
  width: 100%;
  height: $topbar-height;
  position: sticky;
  top: 0;
  z-index: 50;

  h1 {
    font-size: 20px;
    font-weight: bold;
    color: $light-100;
  }
}