@import '@/variables.module';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(16, 16, 16, 0.5);
  backdrop-filter: blur(6px);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  width: 100%;
  height: $topbar-height;

  h1 {
    font-size: 20px;
    font-weight: bold;
    color: $light-100;
  }
}