@import '@/variables.module';

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $bg-layer-1;
    overflow: hidden;
  }

.sharePageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
    padding: 24px;
    padding-top: calc(#{$topbar-height} + 24px);
    min-width: min(800px, 95%);
    max-width: min(800px, 95%);
    margin: 0 auto;

    &.show {
      opacity: 1;
      pointer-events: initial;
      transition: opacity 200ms ease;
  
      .homeCallout {
        transform: scale(1)
      }
  
      .prompts, .highlightTutorial {
        transform: none;
        opacity: 1;
      }
  
      .input {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: $chat-body-width;
  margin: 0;
}

.header {
  padding: 1rem;
  background-color: $dark-80;
  color: $light-100;
  
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $dark-80;
}

.footer {
  padding: 1rem;
  background-color: $dark-80;
}