@import '@/variables.module';

.contextMenu {
  position: fixed;
  border-radius: 12px;
  border: 1px solid $light-20;
  z-index: 20;
  width: fit-content;
  height: fit-content;
  max-height: 30vh;
  background-color: $background-primary;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.64);
  overflow: hidden;
  overflow-y: auto;
}

.contextMenuItem {
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 500;
  color: $light-60;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
  transition: color 100ms, background-color 100ms;

  &:hover {
    color: $light-100;
    background-color: $light-5;
  }
}
