@import '@/variables.module';

.menuItem {
  display: flex;
  gap: 8px;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;

  &:hover {
    background-color: $light-10;
  }
}

.hiddenInput {
  display: none;
}
