@import '@/variables.module';

.menuItem {
  display: flex;
  gap: 8px;
  align-items: center;
}

.audioMenuItem {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.audioDurationsContainer {
  display: flex;
  gap: 8px;
}


.audioDurationContainer {
  font-size: 12px;
  color: $light-40;
  background-color: $light-10;
  border-radius: 4px;
  padding: 4px 8px;

  &:hover {
    background-color: $light-20;
    color: $light-100;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;

  &:hover {
    background-color: $light-10;
  }
}

.hiddenInput {
  display: none;
}
