@import 'app/variables.module';

.messageContainer {
  display: flex;
  width: 100%;
  max-width: $chat-body-width;
  position: relative;

  &.first {
    margin-top: auto;
  }

  &.self {
    justify-content: flex-end;

    .message {
      background-color: $light-10;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    border-radius: 12px;
    padding: 16px;
    background-color: $light-5;
    border: 1px solid $light-5;
    gap: 16px;
  }
}

.avatar {
  position: absolute;
  top: 0;
  left: -40px;
}

.messageBody {
  white-space: pre-wrap;
  font-size: 16px;
  color: $light-60;
  font-weight: 200;
  line-height: 1.6;

  strong {
    font-weight: 500;
    color: $light-80;
  }

  ol, ul {
    display: list-item;
    gap: 16px;
    line-height: 1em;
    margin: -1em 0;
  }

  li {
    display: list-item;
    list-style: disc outside none;
    padding: 0;
    margin: 0;
    margin-inline-start: 1em;
    line-height: 1.6;

    p {
      margin: 0;
      padding: 0;
    }
  }

  code {
    font-size: 13px;
    background-color: $dark-60;
    border: 1px solid $light-10;
    padding: 4px;
    border-radius: 6px;
    color: $light-80;
    height: fit-content;
  }

  pre {
    font-size: 13px;
    background-color: $dark-60;
    border: 1px solid $light-10;
    padding: 8px;
    border-radius: 8px;
    margin: 8px 0;

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }
}

.thinking {
  color: $light-40;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 0;
}
