@import '@/variables.module';

.chatHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  transition: opacity 100ms ease, transform 100ms ease;
  transform: scale(0.75);
  height: 100%;
  gap: 8px;
}

.promptName {
  font-size: 24px;
  color: $light-80;
}

.promptDescription {
  font-size: 14px;
  color: $light-40;
}

.promptIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $light-20;
  color: $light-100;

  &.self {
    background-color: $purple-20;
    color: $purple-100;
  }
  &.community {
    background-color: $primary-20;
    color: $primary-100;
  }
  &.official {
    background-color: $pink-20;
    color: $pink-100;
  }
}

.promptTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  overflow-x: auto;
  max-width: 100%; // Adjust based on the width of the "Uses" badge
  padding-bottom: 8px; // Space for scrollbar
}

.appPromptAccordion {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $light-10;
  width: 100%;
  border-radius: 8px;
}

.accordionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionContent {
  display: flex;
  flex-direction: column;
  max-height: 300px;
}
