@import '@/variables.module';
@import '@/components/modals/modals.module';

.confirmationModal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .divider {
    background-color: $light-5;
    flex-shrink: 0;
    height: 1px;
    width: 100%;
    margin: 4px 0;
  }
}

.promptsModal {
  display: flex;
  flex-direction: column;
  max-height: 80vh !important;
  min-height: 500px;
  overflow-y: scroll;
  gap: 8px;

  h1 {
    font-size: 18px;
    font-weight: 400;
    color: $light-100;
  }
}

.createPromptModal {
  padding: 0 !important;
  gap: 0 !important;
}

.promptIntroModal {
  padding: 0 !important;
  gap: 0 !important;

  .chattingWith {
    font-size: 12px;
    font-weight: 450;
    color: $light-40;
  }

  h1 {
    font-size: 16px;
    font-weight: 500;
    color: $light-100;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: $light-40;
    font-weight: 300;
    line-height: 1.6;
  }

  .footer {
    display: flex;
    align-items: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    gap: 12px;
    padding: 16px;
    background-color: $primary-5;
    color: $primary-80;
    font-size: 12px;
    font-weight: 500;
    outline: 1px solid $primary-10;
    line-height: 1.8;

    .hotkey {
      background-color: $primary-20;
      color: $primary-100;
    }
  }
}
