@import '@/variables.module';
@import '@/components/modals/modals.module';

.confirmationModal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .divider {
    background-color: $light-5;
    flex-shrink: 0;
    height: 1px;
    width: 100%;
    margin: 4px 0;
  }
}

.promptsModal {
  display: flex;
  flex-direction: column;
  max-height: 80vh !important;
  min-height: 500px;
  overflow-y: scroll;
  gap: 8px;

  h1 {
    font-size: 18px;
    font-weight: 400;
    color: $light-100;
  }
}

.createPromptModal {
  padding: 0 !important;
  gap: 0 !important;
}
