@import 'app/variables.module';

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid $light-10;
  width: 100%;
  height: 64px;

  font-size: 14px;
  font-weight: 500;
  color: $light-80;
}
