@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .share-button {
    @apply px-4 py-[6px] inline-flex items-center border border-border-tertiary rounded-[10px] text-xs font-medium text-text-secondary hover:text-text-primary hover:border-primary transition-colors
  }

  .share-user-message-container {
    @apply w-full max-w-[712px] mx-auto my-4;
  }

  .share-user-message-header {
    @apply text-text-tertiary text-xs mb-4 text-center;
  }

  .share-user-message-body {
    @apply bg-background-primary rounded-[16px] p-4 border border-border-tertiary;
  }

  .share-user-message-content {
    @apply text-text-primary/90 text-xs font-light leading-[1.6] mb-4;
  }

  .share-user-message-attachments {
    @apply flex flex-wrap gap-2;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 200ms forwards
  }
}