@import 'app/variables.module';

.history {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $chat-history-width;
  display: flex;
  flex-direction: column;
  background-color: $dark-20;
  border-right: 1px solid $light-5;
  overflow-x: hidden;
  transition: transform 250ms ease;

  &.show {
    pointer-events: initial;
    transform: translateX(0);
  }

  &.hide {
    pointer-events: none;
    transform: translateX(-$chat-history-width);
  }
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 12px;
  border-bottom: 1px solid $light-10;
  font-size: 15px;
  gap: 8px;
  color: $light-60;
}

.chats {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 8px;
  gap: 1px;
}

.chat {
  display: block;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $light-60;

  &:hover {
    background-color: $light-10;
  }
}

