@keyframes transition {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  50% {
    filter: blur(5px);
    opacity: 0.64;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.label {
  animation: transition var(--transitionMs, 300)ms forwards;
}
