@import "app/variables.module";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-bottom: 16px;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  flex: 1;
  width: 100%;
  padding: 16px 0;
  gap: 16px;
}
