@import 'app/variables.module';

.circleButton {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  color: $light-20;

  &:hover {
    background-color: $light-20;
    color: $light-100;
  }
}
