@import '@/variables.module';

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  position: relative;
  animation: rotate infinite 0.75s linear;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-left-color: var(--color, $primary-80);
  will-change: transform;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
}
