
@use 'sass:color';
@import '@/variables.module';

.topBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  background-color: $bg-layer-1;
  border-bottom: 1px solid $dark-40;
  width: 100%;
  height: $topbar-height;
  font-size: 14px;
  color: $light-80;
  z-index: 1;
}

.middle {
  position: absolute;
  left: calc(50% - 100px);
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promptSwitch {
  &.default {
    color: $light-40 !important;

    &:hover {
      background-color: $light-20 !important;
      color: $light-100 !important;
    }
  }
  &.official {
    color: $pink-100 !important;

    &:hover {
      background-color: $pink-20 !important;
      color: $pink-100 !important;
    }
  }
  &.community {
    color: $primary-100 !important;

    &:hover {
      background-color: $primary-20 !important;
      color: $primary-100 !important;
    }
  }
  &.self {
    color: $purple-100 !important;

    &:hover {
      background-color: $purple-20 !important;
      color: $purple-100 !important;
    }
  }
}

@keyframes tabFadeIn {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes clip-fade {
  100% {
    mask-position: right;
    mask-size: 100% 100%;
  }
}

.tabsContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(50px, 200px);
  max-width: 100%;
  //width: 100%; /* Ensures the grid takes up full width of its container */
}

.tabContainer {
  position: relative;

  &.loading, &:hover {
    .tab {
      animation: clip-fade 200ms forwards;
    }
    .tabActions {
      pointer-events: all;
      opacity: 1;
      transform: translateX(0);

      > button {
        opacity: 0.35;
        &:hover {
          opacity: 1;
        }
      }
    }
    .tabClose {
      opacity: 1;
      pointer-events: initial;
      transform: scale(1);
    }
  }
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 8px;
  height: 24px;
  gap: 8px;
  font-weight: 500;
  font-size: 13.5px;
  line-height: normal;
  color: $light-20;
  cursor: pointer;
  user-select: none;
  transition: color 200ms, width 200ms ease-out, mask-image 1000ms ease;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
  max-width: max(50px, 20vw);
  position: relative;
  mask-image: linear-gradient(to right, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 90%);
  mask-size: 125% 100%;

  &.isAnimating {
    animation: tabFadeIn 200ms forwards;
  }

  svg {
    flex-shrink: 0;
  }

  &.active {
    color: $light-100;
    &:hover {
      color: $light-100;
    }
  }

  &:hover {
    color: $light-60;
  }
}

.tabActions {
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 100ms, transform 100ms;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tabClose {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.75);
}

.topHeader {
  position: fixed;
  top: $topbar-height;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: normal;
  height: 56px;
  padding: 0 12px;
  background-color: rgba(15, 15, 15, 0.5);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid $dark-20;
  user-select: none;
}

.topHeaderLeft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  font-size: 13px;
  font-weight: 500;
  color: $light-100;

  a {
    color: $light-20;
    font-size: 13px;
    text-decoration: none;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      text-decoration: underline;
    }
  }
}
