@use 'sass:color';
@import '@/variables.module';

.topBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  background-color: rgba(16, 16, 16, 0.5);
  border-bottom: 1px solid $dark-20;
  backdrop-filter: blur(16px);
  width: 100%;
  height: $topbar-height;
  font-size: 14px;
  font-weight: 500;
  color: $light-80;
  z-index: 1;
}

.middle {
  position: absolute;
  left: calc(50% - 100px);
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promptSwitch {
  &.default {
    color: $light-40 !important;

    &:hover {
      background-color: $light-20 !important;
      color: $light-100 !important;
    }
  }
  &.official {
    color: $pink-100 !important;

    &:hover {
      background-color: $pink-20 !important;
      color: $pink-100 !important;
    }
  }
  &.community {
    color: $primary-100 !important;

    &:hover {
      background-color: $primary-20 !important;
      color: $primary-100 !important;
    }
  }
  &.self {
    color: $purple-100 !important;

    &:hover {
      background-color: $purple-20 !important;
      color: $purple-100 !important;
    }
  }
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 8px;
  height: 24px;
  gap: 8px;
  font-weight: 500;
  font-size: 13px;
  color: $light-20;
  cursor: pointer;
  user-select: none;
  transition: color 100ms;
  max-width: 200px;
  line-height: 1;

  svg {
    flex-shrink: 0;
  }

  &.active {
    color: $light-100;
  }

  &:hover {
    color: $light-80;
  }
}
