@use 'sass:color';
@import '@/variables.module';

.topBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  background-color: rgba(16, 16, 16, 0.5);
  backdrop-filter: blur(16px);
  width: 100%;
  height: $topbar-height;
  font-size: 14px;
  font-weight: 500;
  color: $light-80;
  z-index: 1;
}

.middle {
  position: absolute;
  left: calc(50% - 100px);
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promptSwitch {
  &.official {
    color: $pink-100 !important;

    &:hover {
      background-color: $pink-20 !important;
      color: $pink-100 !important;
    }
  }
  &.community {
    color: $primary-100 !important;

    &:hover {
      background-color: $primary-20 !important;
      color: $primary-100 !important;
    }
  }
  &.self {
    color: $purple-100 !important;

    &:hover {
      background-color: $purple-20 !important;
      color: $purple-100 !important;
    }
  }
}

.promptSwitchDull {
  color: $light-40 !important;

  &:hover {
    background-color: $light-20 !important;
    color: $light-100 !important;
  }
}
