@import '@/variables.module';

.chatHomeContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: opacity 100ms ease;
  position: fixed;
  opacity: 0;
  padding-top: 48px;
  pointer-events: none;
  min-width: min(800px, 95%);
  max-width: min(800px, 95%);

  &.show {
    position: relative;
    opacity: 1;
    pointer-events: initial;

    .homeCallout {
      transform: scale(1)
    }

    .prompts, .highlightTutorial {
      transform: none;
      opacity: 1;
    }

    .input {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 48px;
  opacity: 0;
  transform: scale(0.75);
  transition: opacity 150ms ease, transform 150ms ease;
}

.callouts {
  display: flex;
  gap: 24px;
}


.homeCallout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid $light-10;
  font-weight: 300;
  font-size: 14px;
  color: $light-60;
  width: 250px;
  flex: 1;
  user-select: none;
  cursor: pointer;
  transform: scale(0);
  transition: transform 150ms ease;

  &:nth-child(1) {
    transition-duration: 150ms;
  }
  &:nth-child(2) {
    transition-duration: 300ms;
  }
  &:nth-child(3) {
    transition-duration: 450ms;
  }

  &:hover {
    border-color: $light-20;
  }

  .header {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: $light-100;
    gap: 12px;
  }
}

.prompts {
  display: flex;
  flex-direction: column;
  background-color: $light-5;
  padding: 8px;
  gap: 8px;
  border-radius: 24px;
  opacity: 0;
  transition: opacity 300ms ease, transform 300ms ease;
  transform: translateY(100px);
}

.baseOption {
  display: flex;
  gap: 16px;
  font-size: 15px;
  font-weight: 250;
  color: $light-60;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  align-items: center;
  position: relative;

  &:hover {
    background-color: $light-5;
  }
}

.baseIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-5;
}

.promptOption {
  @extend .baseOption;

  &:hover {
    .promptArrow {
      display: flex;
    }
  }

  &.default {
    &:hover {
      background-color: $light-5;
    }

    .promptName {
      color: $light-100;
    }

    .promptIcon {
      background-color: $light-20;
      color: $light-100;
    }
    .promptArrow {
      color: $light-80;
    }
  }

  &.official {
    &:hover {
      background-color: $pink-5;
    }

    .promptName {
      color: $light-100;
    }

    .promptIcon {
      background-color: $pink-20;
      color: $pink-100;
    }
    .promptArrow {
      color: $pink-100;
    }
  }

  &.self {
    &:hover {
      background-color: $pink-5;
    }

    .promptName {
      color: $light-100;
    }

    .promptIcon {
      background-color: $pink-20;
      color: $pink-100;
    }
    .promptArrow {
      color: $pink-100;
    }
  }

  &.self {
    &:hover {
      background-color: $purple-5;
    }

    .promptName {
      color: $light-100;
    }

    .promptIcon {
      background-color: $purple-20;
      color: $purple-100;
    }
    .promptArrow {
      color: $purple-100;
    }
  }

  &.community {
    &:hover {
      background-color: $primary-5;
    }

    .promptName {
      color: $light-100;
    }

    .promptIcon {
      background-color: $primary-20;
      color: $primary-100;
    }
    .promptArrow {
      color: $primary-100;
    }
  }
}

.promptIcon {
  @extend .baseIcon;
}

.promptName {
  font-weight: 500;
}

.promptDescription {
  max-width: calc(100% - 32px);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &.isCta {
    max-width: calc(100% - 100px);
  }
}

.promptArrow {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  font-size: 13px;
  font-weight: 500;
  color: $purple-100;
  gap: 8px;
  line-height: 1;

  &.show {
    display: flex;
  }
}

.highlightTutorial {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  border-radius: 24px;
  background-color: $light-5;
  font-size: 15px;
  font-weight: 300;
  transition: opacity 300ms ease, transform 300ms ease;
  transform: translateY(100px);
}
