@import '@/variables.module';

.inputError {
  color: #FF4D4D;
}

.inputLabel {
  font-size: 15px;
  font-weight: 400;
  color: $light-100;


  &.inline {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 20px;
    font-size: 13px;
    color: $light-20;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in-out;

    &.visible {
      opacity: 1;
    }
  }
}

.notionInputField {
  border: 1px solid $light-10;
  border-radius: 10px;
  font-weight: 350;

  &::placeholder {
    color: $light-40;
  }

  &:hover {
    border-color: $light-20;
  }

  &:focus {
    outline: none;
    border-color: $light-40;
  }
}

.inputField {
  background-color: $light-5;
  border: 1px solid $light-10;
  border-radius: 10px;
  font-weight: 350;

  &::placeholder {
    color: $light-40;
  }

  &:hover {
    border-color: $light-20;
  }

  &:focus {
    outline: none;
    border-color: $light-40;
  }

  &.small {
    padding: 12px;
    font-size: 12px;
    height: 32px;
  }
  &.medium {
    padding: 12px;
    font-size: 14px;
    height: 36px;
  }
  &.large {
    padding: 16px;
    font-size: 14px;
    height: 42px;
  }
  &.xlarge {
    padding: 16px;
    font-size: 16px;
    height: 48px;
  }
  &.xxlarge {
    padding: 20px;
    font-size: 16px;
    height: 64px;
    transition: padding 200ms ease-in-out;

    &:focus, &.label {
      padding-top: 40px;
    }
  }
}

.textArea {
  @extend .inputField;
  resize: none;

  &.small, &.medium, &.large, &.xlarge, &.xxlarge {
    height: fit-content !important;
  }

  &.xxlarge {
    padding: 20px;
    font-size: 16px;
    height: 64px;
    transition: padding 200ms ease-in-out;

    &:focus, &.label {
      padding-top: 32px;
      padding-bottom: 8px;
    }
  }
}
