@import '@/variables.module';

.history {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $chat-history-width;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-right: 1px solid $dark-40;
  overflow-x: hidden;
  transition: transform 250ms, opacity 250ms;
  z-index: 41;

  &.show {
    pointer-events: initial;
    transform: translateX(0);
    opacity: 1;
  }

  &.hide {
    pointer-events: none;
    transform: translateX(-$chat-history-width);
    opacity: 0;
  }
}

.header {
  height: $topbar-height;
  display: flex;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid $dark-40;
  gap: 8px;
  color: $light-60;

  .headerButton {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
  }
}

.chats {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 4px;
  gap: 1px;
  user-select: none;

  .chatGroupHeader:not(:first-child) {
    margin-top: 8px;
  }
}

.chatGroupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: $light-20;
  font-weight: 500;
  padding: 12px 8px 8px;

  &:hover,
  &.selecting {
    .edit {
      opacity: 1;
      pointer-events: initial;
      cursor: pointer;
    }
  }
}

.edit {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms;

  &:hover {
    color: $light-60;
    text-decoration: underline;
  }
}

@keyframes growInLeft {
  from {
    transform: translateX(-8px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

$selector-size: 17px;

.selector {
  position: absolute;
  top: 8px;
  left: 8px;
  width: $selector-size;
  height: $selector-size;
  border-radius: 50%;
  border: 1px solid $light-20;
  cursor: pointer;
  margin-right: 8px;
  transition: border 100ms;
  animation: growInLeft 100ms forwards;

  &:hover {
    border-color: $light-80;
  }

  &.selected {
    border-color: $light-40;
    background-color: $light-40;
    outline: 2px solid black;
    outline-offset: -3px;
  }
}

.baseHistoryItem {
  display: block;
  padding: 10px 8px;
  border-radius: 8px;
  font-size: 13.5px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $light-40;
  flex-shrink: 0;
  margin: 0 8px;
  line-height: 1.3;
}

.chat {
  @extend .baseHistoryItem;
  position: relative;
  cursor: pointer;
  transition: background-color 100ms, color 100ms, margin 100ms;

  &:hover {
    background-color: $light-5;
    color: $light-80;
  }

  &.selecting {
    margin-inline-start: calc($selector-size + 8px);
    background-color: transparent;
  }
}

@keyframes fadeInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.selectionOptions {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  background-color: $dark-40;
  border: 1px solid $light-5;
  box-shadow: 0 2px 12px $dark-60;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
  border-radius: 12px;
  font-size: 13px;
  color: $light-40;
  pointer-events: all;
  z-index: 20;
  transition: background-color 200ms, border 100ms;
  animation: fadeInBottom 200ms forwards;

  //&:hover {
  //  background-color: $light-5;
  //}
}
