@use 'sass:color';
@import '@/variables.module';

.personalPromptsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.personalPromptsHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $tertiary-0;
  }
}

.personalPrompts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.personalPromptsItem {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  width: calc(50% - 8px);
  border-radius: 20px;
  background-color: var(--Background-Secondary, #191919);
  transition: background-color 0.3s ease;

  .personalPromptsItemHeader {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .personalPromptsItemContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;

    p {
      color: $light-40;
      font-size: 15px;
      font-weight: 150;
      line-height: 160%;
      align-self: stretch;
    }
  }

  .personalPromptsItemFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .personalPromptsItemFooterButton {
      color: $light-40;
      transition: color 0.3s ease, background-color 0.3s ease;

      &:hover {
        color: $red-100;
      }
    }

    .personalPromptsItemFooterLeftButtons,
    .personalPromptsItemFooterRightButtons {
      display: flex;
      gap: 12px;
    }

    .personalPromptsItemFooterLeftButtons {
      justify-content: flex-start;
    }

    .personalPromptsItemFooterRightButtons {
      justify-content: flex-end;
    }
  }
}

.emptyPersonalPrompts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 164px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--Border-Tertiary, #222);

  p {
    color: $light-40;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
  }
}

.filledButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  padding: 2px 8px;
}