@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --scrollbar-hide-delay: 0.5s;
}

body {
  font-family: "Inter", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
    box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 200ms forwards
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.background-secondary') theme('colors.background-primary');
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background: theme('colors.background-primary');
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: theme('colors.background-primary');
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme('colors.background-secondary');
    border-radius: 20px;
    border: 2px solid theme('colors.background-primary');
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.tertiary-50');
  }
}

/*::-webkit-scrollbar {*/
/*    width: 9px;*/
/*    height: 9px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background-color: transparent;*/
/*    border-radius: 5px;*/
/*    box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.05);*/
/*    border: solid 2px transparent;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: transparent;*/
/*    border-radius: 5px;*/
/*    box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.1);*/
/*    border: solid 2px transparent;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.5);*/
/*}*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gentleScale {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

.animate-gentle-scale {
  animation: gentleScale 0.3s ease-in-out;
}
