@import '@/variables.module';

.innerContainer {
  display: flex;
  flex-direction: column;
  background-color: $background-secondary;
  border: 1px solid $border-tertiary;
  border-radius: 15px;
  padding: 8px;
  max-height: 500px;
  width: 280px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.64);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  color: $text-secondary;
  margin-bottom: 12px;
  font-size: 13px;
}

.image {
  transition:
  opacity 150ms ease,
  padding 150ms ease;
    object-fit: cover;
    border-radius: 8px;
  opacity: 0.8;
}

.appIcon {
  width: 47px;
  height: 47px;
  border: none;
}

.displayImage {
  width: 72px;
  height: 47px;
  border: 1px solid $light-10;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.row {
  display: flex ;
  padding: 7px 16px 7px 5px;
  cursor: pointer;
  gap: 10px;
  font-size: 16px;
  text-wrap: nowrap;
  border-radius: 14px;
  border:1px solid $border-tertiary;
  width: 100%;

  &:hover {
    background-color: $background-hover;
  }
}

.textContainer {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: $text-secondary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-size: 10px;
  font-weight: 350;
  color: $text-tertiary;
  line-height: 16px;
}