@import '@/variables.module';

.circleButton {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 18px;
  color: $light-40;
  line-height: 1;
  font-weight: 500;
  user-select: none;

  &:hover {
    background-color: $light-20;
    color: $light-100;
  }

  &.fitContents {
    min-width: 36px;
    width: fit-content;
    gap: 8px;
    padding: 0 8px;
  }
}
