@import '@/variables.module';

.chatHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  gap: 16px;
  color: $light-40;
  font-size: 14px;
  font-weight: 350;
  padding: 32px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease, transform 100ms ease;
  transform: scale(0.75);
  position: fixed;
  top: $topbar-height;
  height: 100%;

  &.show {
    //position: relative;
    transform: scale(1);
    opacity: 1;
  }
}

.promptName {
  font-size: 15px;
  font-weight: 450;
  color: $light-80;
}

.promptIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: $light-20;
  color: $light-100;

  &.self {
    background-color: $purple-20;
    color: $purple-100;
  }
  &.community {
    background-color: $primary-20;
    color: $primary-100;
  }
  &.official {
    background-color: $pink-20;
    color: $pink-100;
  }
}
