@import '@/variables.module';

.chatHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: $light-40;
  font-size: 15px;
  font-weight: 200;
  padding: 32px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease, transform 100ms ease;
  transform: scale(0.75);
  position: fixed;
  top: $topbar-height;

  &.show {
    position: relative;
    transform: scale(1);
    opacity: 1;
  }
}

.promptName {
  font-size: 16px;
  font-weight: 400;
  color: $light-80;
}

.promptIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: $purple-20;
  color: $purple-100;
}
