@import '@/variables.module';

// Higher order styles

@keyframes fadeAndGrowIn {
  from {
    opacity: 0;
    transform: scale(0.75);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.editorPage {
  // width: $editor-width;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.templatesPage {
  @extend .editorPage;
  width: min(1200px, 95%);
  gap: 24px;
  padding-top: 24px;
}

.settingsPage {
  @extend .editorPage;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px 0;
  max-width: $chat-body-width;
  gap: 32px;
  overflow-y: auto;
}

// Templates styles

.templateCardGrid {
  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  //gap: 12px;
  //justify-content: center;
  //align-items: stretch;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

  >.templateCard {
    flex: 1 1 250px;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation: fadeAndGrowIn forwards;
        animation-duration: #{100 + ($i - 1) * 75}ms;
      }
    }
  }
}

.templateCard {
  //border-radius: 32px;
  border-radius: 50% / 30%;
  cursor: pointer;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 100ms ease;
  animation: growIn 100ms forwards;

  @media (max-height: 800px) {
    padding: 12px;
  }

  &.small {
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    padding: 12px;

    h6 {
      margin: 0 0 4px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &.default {
    background-color: $light-5;

    &:hover {
      background-color: $light-10;
    }
  }

  &.purple {
    background-color: $purple-20;

    &:hover {
      background-color: $purple-40;
    }
  }

  &.blue {
    background-color: $primary-20;

    &:hover {
      background-color: $primary-40;
    }
  }

  &.pink {
    background-color: $pink-20;

    &:hover {
      background-color: $pink-40;
    }
  }

  h6 {
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 500;
    color: $light-100;

    @media (max-width: 480px) {
      font-size: 14px;
      margin-top: 8px;
    }

    @media (max-height: 600px) {
      margin-top: 6px;
      margin-bottom: 1px;
    }
  }

  p {
    font-size: 13px;
    font-weight: 350;
    color: $light-80;

    @media (max-width: 480px) {
      font-size: 12px;
    }

    @media (max-height: 600px) {
      font-size: 11px;
    }
  }
}

.templateName {
  font-size: 16px;
  font-weight: 350;
  color: $light-100;
}

// Settings styles

.settingOption {
  background-color: $bg-second-layer;
  border: 1px solid $light-10;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;

  h1 {
    color: $light-100;
    font-weight: 500;
  }
}

// Editor styles
.editorTabs {
  display: flex;
  justify-content: center;
  height: 48px;
  flex-shrink: 0;
  border-bottom: 1px solid $light-5;
}

.tabRow {
  width: calc(100% - 64px);
  display: flex;
  align-items: center;
  height: 100%;
  gap: 32px;

  :last-child {
    margin-inline-start: auto;
  }
}

.tab {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  color: $light-20;
  cursor: pointer;
  margin-bottom: -1px;
  user-select: none;

  &:hover,
  &.active {
    color: $light-100;
  }

  &.disabled {
    pointer-events: none;
  }
}

.editorActions {
  display: flex;
  gap: 8px;
  margin: 16px 0;

  >button {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation: fadeAndGrowIn forwards;
        animation-duration: #{50 + ($i - 1) * 50}ms;
      }
    }
  }
}

.codeEditor {
  width: $editor-width;
  background-color: inherit;
  font-size: 16px;
  color: $light-100;
}

.headingText {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: -0.3px;
  color: #EEEEEE;
}

.explainerText {
  padding-top: 16px;
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: 160%;
  /* 24px */
  color: #B4B4B4;
  //width: 480px;
}

.buttonContainer {
  padding-top: 32px;
}

.onboardingDecoration {
  color: white;
}

.onboardingBlock {
  opacity: 0.4;
  // No cursor events
  pointer-events: none;
}

.pickText {
  padding-top: 29px;
  padding-bottom: 21px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 117.647% */
  letter-spacing: -0.34px;
}

.screen,
.image,
.window_context {
  color: $pink-100 !important;
  background-color: $pink-10;
  border-radius: 4px;
}

.user_message,
.about_me {
  color: $primary-100 !important;
  background-color: $primary-5;
  border-radius: 4px;
}

.audio {
  color: $green-80 !important;
  background-color: $green-10;
  border-radius: 4px;
}

.windows {
  color: $purple-100 !important;
  background-color: $purple-10;
  border-radius: 4px;
}

.clipboard_text {
  color: #ECFF0C !important;
  background-color: rgba(236, 255, 12, 0.1);
  border-radius: 4px;
}
