@import '@/variables.module';

// Higher order styles

@keyframes fadeAndGrowIn {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.editorPage {
  width: $editor-width;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.templatesPage {
  @extend .editorPage;
  width: min(1200px, 95%);
  gap: 24px;
  padding-top: 24px;
}

.settingsPage {
  @extend .editorPage;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px 0;
  gap: 32px;
  overflow-y: auto;
}

// Templates styles

.templateCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  justify-content: center;

  > .templateCard {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation: fadeAndGrowIn forwards;
        animation-duration: #{100 + ($i - 1) * 75}ms;
      }
    }
  }
}

.templateCard {
  //border-radius: 32px;
  border-radius: 50% / 30%;
  cursor: pointer;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 100ms ease;
  animation: growIn 100ms forwards;

  &.default {
    background-color: $light-5;
    &:hover {
      background-color: $light-10;
    }
  }
  &.purple {
    background-color: $purple-20;
    &:hover {
      background-color: $purple-40;
    }
  }
  &.blue {
    background-color: $primary-20;
    &:hover {
      background-color: $primary-40;
    }
  }
  &.pink {
    background-color: $pink-20;
    &:hover {
      background-color: $pink-40;
    }
  }

  h6 {
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 350;
    color: $light-100;
  }
  p {
    font-size: 13px;
    font-weight: 250;
    color: $light-80;
  }
}

.templateName {
  font-size: 16px;
  font-weight: 350;
  color: $light-100;
}

// Settings styles

.settingOption {
  background-color: $bg-second-layer;
  border: 1px solid $light-10;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 350;

  h1 {
    font-weight: 450;
  }
}

// Editor styles
.editorTabs {
  display: flex;
  justify-content: center;
  height: 48px;
  flex-shrink: 0;
  border-bottom: 1px solid $light-5;
}

.tabRow {
  width: calc(100% - 64px);
  display: flex;
  align-items: center;
  height: 100%;
  gap: 32px;
}

.tab {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-weight: 350;
  color: $light-20;
  cursor: pointer;
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;

  &:hover, &.active {
    color: $light-100;
  }
  &.active {
    border-bottom: 1px solid $light-100;
  }
}

.editorActions {
  display: flex;
  gap: 8px;
  margin: 16px 0;

  > button {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation: fadeAndGrowIn forwards;
        animation-duration: #{50 + ($i - 1) * 50}ms;
      }
    }
  }
}

.codeEditor {
  width: $editor-width;
  background-color: inherit;
  font-size: 16px;
  color: $light-100;
}

.headingText {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: -0.3px;
  color: #EEEEEE;
}

.explainerText {
  padding-top: 16px;
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: 160%; /* 24px */
  color: #B4B4B4;
  width: 480px;
}

.buttonContainer {
  padding-top: 71px;
}

.onboardingDecoration {
  color: white !important;
}

.onboardingBlock {
  opacity: 0.4;
}