@import '@/variables.module';

.promptIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: var(--size, 100%);
  height: var(--size, 100%);
  border-radius: 50%;
  overflow: hidden;
  background-color: $light-20;
  color: $light-100;

  &.none {
    background-color: transparent;
    color: $light-100;
  }
  &.self {
    background-color: $purple-20;
    color: $purple-100;
  }
  &.community {
    background-color: $primary-20;
    color: $primary-100;
  }
  &.official {
    background-color: $pink-20;
    color: $pink-100;
  }
}
