@import "./variables.module";

.page {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background-color: $light-5;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  flex: 1;
  position: relative;
  overflow-y: auto;
  top: $topbar-height;
  height: calc(100% - $topbar-height);

  &.full {
    animation: history-hide 250ms ease forwards;
  }

  &.partial {
    animation: history-show 250ms ease forwards;
  }
}

@keyframes history-show {
  from {
    max-width: 100vw;
  }
  to {
    max-width: calc(100vw - $chat-history-width);
  }
}

@keyframes history-hide {
  from {
    max-width: calc(100vw - $chat-history-width);
  }
  to {
    max-width: 100vw;
  }
}

.messagesContainer {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 16px 0;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
