@import "./variables.module";

.page {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background-color: $bg-layer-1;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  overflow-y: auto;
  margin-top: $topbar-height;
  height: calc(100% - $topbar-height);

  &.justifyEnd {
    justify-content: flex-end;
  }

  &.full {
    animation: history-hide 250ms forwards;
  }

  &.partial {
    animation: history-show 250ms forwards;
  }
}

@keyframes history-show {
  from {
    max-width: 100vw;
  }

  to {
    max-width: calc(100vw - var(--sidebar-width));
  }
}

@keyframes history-hide {
  from {
    max-width: calc(100vw - var(--sidebar-width));
  }

  to {
    max-width: 100vw;
  }
}

.messagesContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  padding-top: calc($topbar-height + 24px);
  padding-bottom: 18px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.loadingGradient {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 8%, $light-5 38%, rgba(255, 255, 255, 0) 54%);
  background-size: 1000px 640px;
  position: relative;
}
