$light-5: rgba(255, 255, 255, 0.05);
$light-10: rgba(255, 255, 255, 0.1);
$light-20: rgba(255, 255, 255, 0.2);
$light-40: rgba(255, 255, 255, 0.4);
$light-60: rgba(255, 255, 255, 0.6);
$light-80: rgba(255, 255, 255, 0.8);
$light-100: rgba(255, 255, 255, 1);

$dark-5: rgba(0, 0, 0, 0.05);
$dark-10: rgba(0, 0, 0, 0.1);
$dark-20: rgba(0, 0, 0, 0.2);
$dark-40: rgba(0, 0, 0, 0.4);
$dark-60: rgba(0, 0, 0, 0.6);
$dark-80: rgba(0, 0, 0, 0.8);
$dark-100: rgba(0, 0, 0, 1);

$green-5: rgba(76 ,237, 160, 0.05);
$green-10: rgba(76, 237, 160, 0.1);
$green-20: rgba(76, 237, 160, 0.2);
$green-40: rgba(76, 237, 160, 0.4);
$green-60: rgba(76, 237, 160, 0.6);
$green-80: rgba(76, 237, 160, 0.8);
$green-100: rgba(76, 237, 160, 1);

$red-5: rgba(255, 57, 93, 0.05);
$red-10: rgba(255, 57, 93, 0.1);
$red-20: rgba(255, 57, 93, 0.2);
$red-40: rgba(255, 57, 93, 0.4);
$red-60: rgba(255, 57, 93, 0.6);
$red-80: rgba(255, 57, 93, 0.8);
$red-100: rgba(255, 57, 93, 1);

$primary-5: rgba(0, 250, 255, 0.05);
$primary-10: rgba(0, 250, 255, 0.1);
$primary-20: rgba(0, 250, 255, 0.2);
$primary-30: rgba(0, 250, 255, 0.3);
$primary-40: rgba(0, 250, 255, 0.4);
$primary-50: rgba(0, 250, 255, 0.5);
$primary-60: rgba(0, 250, 255, 0.6);
$primary-70: rgba(0, 250, 255, 0.7);
$primary-80: rgba(0, 250, 255, 0.8);
$primary-90: rgba(0, 250, 255, 0.9);
$primary-100: rgba(0, 250, 255, 1);

$pink-5: rgba(255, 32, 153, 0.05);
$pink-10: rgba(255, 32, 153, 0.1);
$pink-20: rgba(255, 32, 153, 0.2);
$pink-40: rgba(255, 32, 153, 0.4);
$pink-60: rgba(255, 32, 153, 0.6);
$pink-80: rgba(255, 32, 153, 0.8);
$pink-100: #FF2099;

$purple-5: rgba(113, 47, 255, 0.05);
$purple-10: rgba(113, 47, 255, 0.1);
$purple-20: rgba(113, 47, 255, 0.2);
$purple-40: rgba(113, 47, 255, 0.4);
$purple-60: rgba(113, 47, 255, 0.6);
$purple-80: rgba(113, 47, 255, 0.8);
$purple-100: #712FFF;

// These are not in the same order as the others, copied from Medal theme format
$tertiary-0: #B3B1B6;
$tertiary-30: #83817c;
$tertiary-50: #3A3A3A;
$tertiary-70: #262626;
$tertiary-100: #161617;

// Background colors
$bg-layer-1: #0f0f0f;
$chat-share-modal-background: #202020;

// Legacy bg colors
$bg-first-layer: #0F0F0F;
$bg-second-layer: #191919;
$bg-third-layer: #222222;


$chat-body-width: min(800px, 88%);
$chat-history-width: 250px;
$topbar-height: 48px;

// Prompt editor variables
$editor-width: min(1050px, 90%);

$text-primary: #EEE;
$text-secondary: #B4B4B4;
$text-tertiary: #6E6E6E;
$text-subtle: #484848;
$text-black: #0F0F0F;

$background-primary: #0F0F0F;
$background-secondary: #191919;
$background-tertiary: #222222;

$border-primary: #00FAFF;
$border-secondary: #444444;
$border-tertiary: #222222;

:export {
  chatHistoryWidth: $chat-history-width;

  primary5: $primary-5;
  primary10: $primary-10;
  primary20: $primary-20;
  primary30: $primary-30;
  primary40: $primary-40;
  primary50: $primary-50;
  primary60: $primary-60;
  primary70: $primary-70;
  primary80: $primary-80;
  primary90: $primary-90;
  primary100: $primary-100;

  light5: $light-5;
  light10: $light-10;
  light20: $light-20;
  light40: $light-40;
  light60: $light-60;
  light80: $light-80;
  light100: $light-100;

  dark5: $dark-5;
  dark10: $dark-10;
  dark20: $dark-20;
  dark40: $dark-40;
  dark60: $dark-60;
  dark80: $dark-80;
  dark100: $dark-100;

  green5: $green-5;
  green10: $green-10;
  green20: $green-20;
  green40: $green-40;
  green60: $green-60;
  green80: $green-80;
  green100: $green-100;

  red5: $red-5;
  red10: $red-10;
  red20: $red-20;
  red40: $red-40;
  red60: $red-60;
  red80: $red-80;
  red100: $red-100;

  pink5: $pink-5;
  pink10: $pink-10;
  pink20: $pink-20;
  pink40: $pink-40;
  pink60: $pink-60;
  pink80: $pink-80;
  pink100: $pink-100;

  purple5: $purple-5;
  purple10: $purple-10;
  purple20: $purple-20;
  purple40: $purple-40;
  purple60: $purple-60;
  purple80: $purple-80;
  purple100: $purple-100;
}
