.container {
  position: relative; /* Keep this as relative to ensure the fixed scrollbar is correctly positioned inside */
  overflow-y: scroll;
  scrollbar-width: none; /* Hide default scrollbar in Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}

.handle {
  position: fixed; /* Fixed position for the overlay effect */
  top: var(--top, 0);
  right: 3px;
  width: 7px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 200ms;
  height: var(--height, 100%);

  &.visible, &:hover {
    opacity: 1;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

//.container::before {
//  content: '';
//  position: fixed; /* Fixed position for the overlay effect */
//  top: var(--top, 0);
//  right: 3px;
//  width: 7px;
//  background-color: rgba(255, 255, 255, 0.1);
//  border-radius: 4px;
//  opacity: 0;
//  transition: opacity 200ms;
//  height: var(--height, 100%);
//  //pointer-events: none;
//}
